<!DOCTYPE html>

<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
            
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div style="margin-top:150px;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Todo List
                  <span class="pull-right glyphicon glyphicon-plus add"  data-toggle="modal" data-target="#myModal" style="font-size:20px;"></span>
                </div>
                    <div class="panel-body">  
                       <% if (todos.length == 0) { %>                        
                           Nothing to see here, Why not add an item?
                       <% } else { %>
                        <ul>
                            <% for (var i = 0, len = todos.length; i < len; i++) {%>
                                <li><span class="<%=todos[i].icon%>"></span> <%=todos[i].name %>  <span class="glyphicon glyphicon-remove remove pull-right" data-id="<%=todos[i]._id%>"></span></li><hr />
                            <% } %>
                        </ul>
                        
                       <% } %>
                    </div>
                </div> 
            </div>
        <div class="col-lg-2"></div>
        </div>
        
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">Add a Task</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3">
                            Icon
                        </div>
                        <div class="col-lg-9">
                            <div class="col-lg-1">
                                <p class="glyphicon glyphicon-cloud"></p>
                            </div>
                             <div class="col-lg-1">
                                <p class="glyphicon glyphicon-user"></p>
                            </div>
                            <div class="col-lg-1">
                                <p class="glyphicon glyphicon-cog"></p>
                            </div>
                            <div class="col-lg-1">
                                <p class="glyphicon glyphicon-flag"></p>
                            </div>                         
                            <div class="col-lg-1">
                                <p class="glyphicon glyphicon-tree-deciduous"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            Name
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" id="todo-name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            Description
                        </div>
                        <div class="col-lg-9">
                            <textarea class="form-control" id="todo-desc" style="height:50%;"></textarea>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-lg-3">
                            Priority
                        </div>
                        <div class="col-lg-9">
                            <select class="form-control" id="todo-priority">
                                <option value=""></option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>                                
                            </select>
                        </div>
                    </div>                  
                        
                    <div style="clear:both"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary save">Save</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          
          <script type="text/javascript">
            <!--
            
            $(document).ready(function() {
                
                $(".modal .glyphicon").click(function() {
                    $(".glyphicon.selected").removeClass("selected");
                    $(this).addClass("selected");
                })
                
                $(".save").click(function() {
                    var icon = $(".glyphicon.selected").attr("class");
                    icon = icon.substring(0, icon.indexOf("selected"));
                    
                    var data = {
                        icon: icon,
                        name : $("#todo-name").val(),
                        description: $("#todo-desc").val(),
                        priority: $("#todo-priority").val()
                    };                
                    
                    $.post("save", data , function(data) {
                        location.reload();
                    });
                    
                    
                });
                
                $(".remove").click(function() {                    
                    $.post("remove", {id : $(this).attr("data-id")}, function(data) {
                        location.reload();
                    });    
                })
            });
            -->
          </script>
                
    </body>
</html>
