<!DOCTYPE html>

<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        test
        <div class="panel panel-default">
            <div class="panel-heading"> Testing</div>
                <div class="panel-body">  
                    <%- body ->
                </div>
            </div> 
        </div>
    </body>
</html>
