@font-face {
    font-family: handwriting;
    src: url("/css/whatever_it_takes.ttf");
}

body {
    background-color: #A8DBA8;
}

.add {
    cursor:pointer;
}

.row {
    margin-top:15px;
}

li {
    list-style-type: none;
    display:block;
    width:100%;
    font-family:handwriting;
    font-size:45px;
    margin-rop:-15px;
}
hr {
    margin-top:-15px;
}
.modal .glyphicon, .panel-body .glyphicon {
    font-size:20px;
    padding:5px;
    vertical-align:middle;
}

.glyphicon.selected {
    color: #1C959E;
}

.glyphicon-remove {
    margin-top:10px;
    cursor:pointer;
}